<div data-dojo-type="${baseClass}" data-dojo-attach-point="focusNode"
    data-ngw-serialize-prefix="${prefix}" style="padding: 1ex;">
    <div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols:1, labelWidth: 150">

        <div data-dojo-attach-point="wFileUpload"
            data-dojo-type="ngw-file-upload/Uploader"
            title="{{gettext 'QML file'}}"></div>

    </div>
</div>
