.ngw-qgis-vector-editor-widget {
  padding: 1em;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;

  & > label {
    align-self: flex-start;
    line-height: 32px;
  }

  & > .mode,
  & > .ant-divider,
  & > .file-uploader-wrap {
    grid-column: 1 / span 2;
  }

  & > .ant-divider {
    margin: 0.5em 0;
  }

  & > .file-uploader-wrap {
    position: relative;

    & > .generate-with-ai-button {
      position: absolute;
      top: 8px;
      right: 8px;
      z-index: 1;
    }
  }

  & > .ngw-sld-style-editor {
    .ant-form-item {
      margin-bottom: 12px;
    }
  }
}
